:host {
  display: inline-block;
}

div {
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.obstacle {
  background-color: black;
}

.visited {
  background-color: grey;
}

.path {
  background-color: yellow;
}
